<header>
  <nav>
    <button></button>

    <div>
      <ul>
        <li>
          <div>
            アルバム
          <div>
            アルバム一覧
            アルバム作成
          </div>
        </li>

        <li>
          お気に入り一覧
        </li>
      </ul>
    </div>
  </nav>
<header>