<div class='container mt-6 text-center'>
  <div class='text-3xl text-pink-600 font-bold' >
    <h1>Memories</h1>
  </div>
</div>

<!-- １枚画像onebook3dで読み込むときの<script
  $(function(){
    var arry = [];

    arry.push('<%= url_for(@album.photo)%>');

    $('#books').onebook(arry);
  });
-->